* {
  box-sizing: border-box;
}

body, input {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
}

a {
  color: #black;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: .25em;
}

input[type=text], input[type=password], input[type=email] {
  border: solid 1px #244751;
  padding: .5em;
  width: 200px;
  font-size: 1em;
}

header {
  width: 100%;
  margin: auto;
}
.headermain {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  font-size: 25px;
  color: black;
  z-index: 2;
}
.headermain a{
  color: black;
  box-sizing: border-box;
}
#maindiv:hover {
  background-color: #c6c6c6;
  font-size: large;
}
#maindiv{
  background-color: #217;
  margin: auto;
  padding: 15px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: -10px;
  font-size: medium;
  transition: font-size 1s;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

header > .login-info {
  margin-left: auto;
  color: black;
}

main {
  width: 55%;
  margin: auto;
  padding: 10%;
  background-color: black;
}

.new-post {
  text-align: center;
  margin-bottom: 2em;
}

.new-post > .button {
  display: inline-block;
  padding: 1em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  padding: .5em;
  background-color: white;
  border: solid 1px #244751;
  display: inline-block;
}

.post > * {
  margin-bottom: 1em;
}

.post {
	 margin-bottom: 2em;
	 padding: 10%;
	 background-color: white;
	 transition: all .2s ease-in-out;
}
.post:hover {
  -webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	 box-shadow: 0 15px 2px -6px lightgrey;
	 transform: scale(1.01);
}

.user-info {
  display: flex;
  align-items: baseline;
  font-size: 60%;
  padding-bottom: 10px;
  text-align: center;
}

.user-info img {
  width: 10%;
}

.user-info h2 {
  margin: 0 0 0 .5em;
}

.user-info h3 {
  margin: 0 0 0 auto;
}

.photo {
  display: block;
}

.photo img {
  display: block;
  width: 100%;
  border-radius:2%;
  overflow:hidden;
}

.actions {
  display: flex;
  align-items: baseline;
}

.actions button.user-like {
  color: #FF2600;
  border-color: #FF2600;
}

.actions .comment-count {
  margin-left: auto;
}

.comments {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;

}

.form-group {
  margin-bottom: 1em;
}

.new-comment input[type="text"] {
  width: 100%;
}

login-info {
  color: black
  
}